*, *:after, *:before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 80%;
    margin: 40px auto;
    list-style: none;
}
li {
    width: 250px;
    height: 425px;
    background-color: #f7f7f7;
    margin-top: 40px;
    padding: 20px;
    border: 1.8px solid black;
    border-radius: 8px;
    font-size: 28px;
    font-family:'Times New Roman', Times, serif;
    font-weight: 900;
    text-align: center;
}
.icon {
    display: block;
    height: 100%;
    width: 100%;
}
.i-html, .i-css, .i-js {
    background: no-repeat url("images/0-sprite.png");
    background-size: 640px;
}
.i-html {
    background-position-x: 0px;
    background-position-y: 40px;
}
.i-css {
    background-position-x: -220px;
    background-position-y: 40px;
}
.i-js {
    background-position-x: -430px;
    background-position-y: 40px;
}