*, *:after, *:before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 80%;
    margin: 4rem auto;
    list-style: none;
  }
  li {
    height: 425px;
    width: 250px;
    background-color: #f7f7f7;
    margin-top: 1rem;
    padding: 1rem;
    border: 1.8px solid black;
    border-radius: .4rem;
    font-size: 2rem;
    font-family:'Times New Roman', Times, serif;
    font-weight: 900;
    text-align: center;
  }
  .icon {
    display: block;
    height: 100%;
    width: 100%;
  }
  .i-html,
  .i-css,
  .i-js {
    background: no-repeat url("images/0-sprite.png");
    background-size: 40rem;
  }
  .i-html {
    background-position-y: 2rem;
    background-position-x: 0.3rem;
  }
  .i-css {
    background-position-y: 2rem;
    background-position-x: -13.4rem;
  }
  .i-js {
    background-position-y: 2rem;
    background-position-x: -26.8rem;
  }